body {
  display: flex;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  background-color: #000411;
}

.hide {
  display: none;
}

h1, h2 {
  font-family: 'Arvo', serif;
}

nav {
  height: 100vh;
  width: 55%;
  display: flex;
  flex-wrap: wrap;
}

.tiles {
  height: 33.333vh;
}

.tile-contents {
  position: absolute;
  width: 95%;
  padding-top: 30%;
  padding-left: 5%;
}

.wide {
  position: relative;
  width: 66.6666%;
}

.wide:after {
  content: "";
  display: block;
  padding-bottom: 50%;
}

.tile-contents-wide {
  display: inline-block;
  position: absolute;
  width: 90%;
  padding: 7%;
}

.wide p {
  text-align: left;
}

.icon {
  width: 50px;
}

.mic {
  width: 25px;
}

h2 {
  margin-top: 0px;
}

button {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: white;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.c-a {
  background: url('images/bulletin.svg') no-repeat;
}

.weather {
  background: url('images/weather.svg') no-repeat;
}

.square {
  position: relative;
  text-align: center;
  width: 33.3333%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.black {
  background-color: #000411;
}

.plum {
  background-color: #33032F;
}

.charcoal {
  background-color: #414247;
}

.purple {
  background-color: #531253;
}

.light-gray {
  background-color: #7B7887;
}

#slideshow {
  height: 100vh;
  width: 45%;
  position: relative;
}

#image-1 {
  height: 100vh;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  object-fit: cover;
}

#slideshow-indicator-container {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
}

.bullet {
  width: 20px;
  float: right;
}

#slideshow-arrows-container {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 48%;
}

.arrow{
  width: 40px;
}

.arrow-left {
  float: left;
  margin-left: 10px;
}

.arrow-right {
  float: right;
  margin-right: 10px;
}






/* BREAK for tablets landscape */
@media screen and (max-width: 1175px) {
  nav {
    width: 50%;
    flex-direction: column;
  }

  .tiles {
    padding: 10px;
  }

  .wide {
    height: 25%;
    width: 100%;
  }

  .wide:after {
    padding-bottom: 0%;
  }

  .tile-contents-wide {
  padding: 5px;
  }

  .wide p {
    margin: 10px auto 20px
  }

  h2 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  p {
    margin: 0px auto 10px;
  }

  .square {
    height: 7.5%;
    width: 100%;
  }

  .square:after {
    padding-bottom: 0%;
  }

  .tile-contents {
    position: absolute;
    padding-top: 5px;
    padding-left: 0px;
  }

  .icon {
    width: 20px;
  }

  .mic {
    width: 15px;
  }

  #slideshow {
    width: 50%;
  }

}



/* BREAK for tablets portrait */
@media screen and (max-width: 900px) {
  body {
    display: block;
  }

  nav {
    width: 100%;
    height: 470px;
  }

  #tourism {
    height: 170px;
  }

  p {
    margin-bottom: 0px;
  }

  .tiles {
    height: 20px;
  }

  .icon {
    display: none;
  }

  .title-contents {
    margin: 0px;
    padding-bottom: 0px;
  }

  #slideshow {
  width: 100%;
  }

}

@media screen and (max-width: 577px) {
  nav {
    height: 500px;
  }

  #tourism {
    height: 200px;
  }
}

@media screen and (max-width: 420px) {
  nav {
    height: 550px;
  }

  #tourism {
    height: 250px;
  }

  #slideshow {
    height: 600px;
  }

  #image-1 {
    height: 600px;
  }
}

@media screen and (max-width: 387px) {
  #desert-flower-bowling {
    height: 40px;
  }

  #slideshow {
    height: 400px;
  }

  #image-1 {
    height: 400px;
  }
}

@media screen and (max-width: 386px) {
  nav {
    height: 580px;
  }

  #tourism {
    height: 260px;
  }
}

@media screen and (max-width: 353px) {
  nav {
    height: 600px;
  }

  #tourism {
    height: 280px;
  }
}
